@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--start page wrapper -->
<div class="page-wrapper">
	<div class="page-content">
		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
			<div class="col">
				<div class="card radius-10 border-start border-0 border-4 border-info">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Total d'Ingrédients </p>
								<h4 class="my-1 text-info">@Model.NombreIngredient</h4>
								<p class="mb-0 font-13">+2.5% que la semaine passées</p>
							</div>
							<div class="widgets-icons-2 rounded-circle bg-gradient-blues text-white ms-auto">
								<i class='bx bxs-cart'></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card radius-10 border-start border-0 border-4 border-danger">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary"> Recettes Répertoriées</p>
								<h4 class="my-1 text-danger">@Model.NombreRecette</h4>
								<p class="mb-0 font-13">50 recettes uniques à découvrir </p>
							</div>
							<div class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto">
								<i class='bx bxs-wallet'></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card radius-10 border-start border-0 border-4 border-success">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Allergènes les Plus Courants</p>
								<h4 class="my-1 text-success">@Model.nombreAllergen</h4>
								<p class="mb-0 font-13">Top 5 des allergènes référencés</p>
							</div>
							<div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
								<i class='bx bxs-bar-chart-alt-2'></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card radius-10 border-start border-0 border-4 border-warning">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Coûts moyen par recette</p>
								<h4 class="my-1 text-warning">@Model.moyenne</h4>
								<p class="mb-0 font-13">+5% ce trimestre</p>
							</div>
							<div class="widgets-icons-2 rounded-circle bg-gradient-orange text-white ms-auto">
								<i class='bx bxs-group'></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--end row-->

		<div class="row">
			<div class="col-12 col-lg-12 d-flex" >

				<div class="col-12 col-lg-5 col-xl-4 d-flex">
					<div class="card w-100 radius-10">
						<div class="card-body">
							<div class="card radius-10 border shadow-none">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-secondary">Total Likes</p>
											<h4 class="my-1">45.6M</h4>
											<p class="mb-0 font-13">+6.2% que les mois passé</p>
										</div>
										<div class="widgets-icons-2 bg-gradient-cosmic text-white ms-auto">
											<i class='bx bxs-heart-circle'></i>
										</div>
									</div>
								</div>
							</div>
							<div class="card radius-10 border shadow-none">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-secondary">Commentaires</p>
											<h4 class="my-1">25.6K</h4>
											<p class="mb-0 font-13">+3.7% de plus</p>
										</div>
										<div class="widgets-icons-2 bg-gradient-ibiza text-white ms-auto">
											<i class='bx bxs-comment-detail'></i>
										</div>
									</div>
								</div>
							</div>
							<div class="card radius-10 mb-0 border shadow-none">
								<div class="card-body">
									<div class="d-flex align-items-center">
										<div>
											<p class="mb-0 text-secondary">Total des partages</p>
											<h4 class="my-1">85.4M</h4>
											<p class="mb-0 font-13">+4.6% aujourd'hui'</p>
										</div>
										<div class="widgets-icons-2 bg-gradient-kyoto text-dark ms-auto">
											<i class='bx bxs-share-alt'></i>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="col-12 col-lg-7 col-xl-7">
					<ul class="list-group list-group-flush">

					@if(Model.ingredients!=null || Model.ingredients.Count != 0)
					{
						@foreach(var item in Model.ingredients)
						{
								<li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
									@item.Name
									@if (item.CurrentStock <= item.MinimumStock)
									{
										<span class="badge bg-danger rounded-pill">@item.CurrentStock</span>

									}
									else
									{
										<span class="badge bg-primary rounded-pill">@item.CurrentStock</span>
									}
								</li>
						}
					}
					</ul>
						@* <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
							Farine <span class="badge bg-success rounded-pill">70</span>
						</li>
						<li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
							Huil <span class="badge bg-danger rounded-pill">10</span>
						</li>
						<li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
							Lévure <span class="badge bg-primary rounded-pill">10</span>
						</li>
						<li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
							Sucre <span class="badge bg-warning text-dark rounded-pill">10</span>
						</li> *@
				</div>
				
			</div>
			
			
		</div><!--end row-->



	</div>
</div>
<!--end page wrapper -->
